<table class="table">
    <thead class="thead-inverse">
        <tr>
            
        <th>Brand</th>
        <th>Product name</th>
        <th>Quantity </th>
        <th>Price</th>
        <th>total</th>
   <!--     </tr>
   </thead>-->
    <%  @cart.cartships.each do |cart| %>
          </tr>
   </thead>
    <tbody>
        <tr>
    <th scope ="row"><%=cart.product.brand.upcase! %></th>
    <td><%= cart.product.title.capitalize! %></td>
    <td><%= cart.quantity %></td>
    <td><%= number_to_currency(cart.product.price) %></td>
    <td><%= number_to_currency(cart.product.price * cart.quantity) %></td>
    </tr>
    </tbody>
<% end %>
 <tr span="col-3">
        <td>Total</td><td></td><td></td><td></td>
        <td><%= number_to_currency(@cart.total_price) %></td>
    </tr>
</table>
<%= link_to 'back', products_path,class: "btn btn-success" %>