<div class= "row">
<!--making the products align on one -->
    <% @products.each do |product| %>
    
        <div class="col-sm-4 text-center">
            <%= image_tag product.image,class: "img-rounded",style: "max-height:130px"%><br>
            <hr>
            <em><%= product.brand.upcase! %></em><br><hr>
            <%= product.title.capitalize! %><br><hr>
           $<%= product.price %><br><hr>
            <%= link_to 'add to cart',add_to_cart_product_path(product) %>
        
        </div>
    <% end-%>
 </div>